@font-face {
    font-family: 'FuturaCustom';
    src: url(fonts/futura-bt.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FuturaCustom';
    src: url(fonts/futura-bt-bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    font-family: 'FuturaCustom', sans-serif;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
    padding: 31px 0 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 111px;
    background-color: #fff;
}
.header-bar .logo{
    font-size: 36px;
    margin: 0 0 0 201px;
}
.header-bar .logo:hover{
    cursor: default;
}
.header-bar .logo h1{
    color: #000;
    text-transform: capitalize;
}
.header-bar .logo .name{
    color: #14afca;
    text-transform: uppercase;
    font-weight: 700;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 0 202px 0 0;
}
.top-nav a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    transition: ease-in-out 0.2s;
    padding: 8px 8px;
}
.top-nav a:hover{
    color: #14afca;
}
.header-content{
    text-align: center;
    color: #fff;
    margin-top: 172px;
    font-weight: 700;
}
.header-content h2{
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.what{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 109px 0 100px 0;
    background-color: #fff;
    clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
}
.what .what-content{
    text-align: center;
    max-width: 959px;
}
.what .what-content h3{
    font-size: 52px;
    color: #14afca;
    margin-bottom: 19px;
    font-weight: 700;
    text-transform: uppercase;
}
.what .what-content .little-h{
    font-size: 20px;
    color: #000;
    margin-bottom: 42px;
    letter-spacing: 1px;
}
.what .what-content p{
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #000;
    line-height: 1.6;
}
.companies{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    padding: 31px 0 300px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.companies-content{
    margin: 200px 0 0 0;
    color: #fff;
    text-align: center;
}
.companies-content h3{
    color: #14afca;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}
.companies-content p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 27px 0 48px 0;
    letter-spacing: 1px;
}
.logos-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.logos-grid .adobe-img{
    max-height: 97px;
    max-width: 222px;
}
.meet-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 195px 0 194px;
}
.meet-us h3{
    color: #14afca;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px
}
.meet-us p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 48px;
}
.meet-us .workers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1013px;
    gap: 100px;
    margin-bottom: 100px;
}
.meet-us .workers .worker{
    max-width: 279px;
    max-height: 332px;
}
.meet-us .workers .worker p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 32px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.testimonals{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    padding: 200px 0 300px 0;
    color: #fff;
}
.testimonals h3{
    color: #14afca;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
}
.testimonals .under{
    margin: 26px 0 44px 0;
    font-size: 18px;
}
.testimonals .italic-text{
    font-style: italic;
    font-size: 16px;
    opacity: 80%;
    max-width: 877px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 10px;
}
.italic-text .author{
    display: block;
    text-align: right;
    font-size: 18px;
    margin: 10px 157px 0 0;
}
.why{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 109px 0 113px 0;
}
.why h3{
    font-size: 60px;
    font-weight: 700;
    color: #14afca;
    text-transform: uppercase;
}
.why .under{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 26px 0 44px 0;
}
.why .equation{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 104px;
}
footer p{
    font-size: 15px;
    line-height: 1.6;
}
footer p .bold-text{
    font-weight: 700;
}
.back-to-top, .back-to-top:visited{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #14afca;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.back-to-top:hover {
  background-color: #118c9e;
}